body{
    font-family: "PT Mono", monospace;
}

.Navegacion__Logo{
    width: 2vw;
}
.Navegacion__Enlace{
    color: #989797;
    text-decoration: none;
    font-size: 1vw;
}
.Navegacion__Enlace:hover{
    color: black;
}
.Navegacion__Boton{
    width: 100%;
    height: 2vw;
    font-size: 1vw;
}
.Navegacion__Boton--1{
    background-color: white;
    border-width: 1px;
    border-color: #b8b8b8;
    color: #b8b8b8;   
}
.Navegacion__Boton--1:hover{
    border-color: black;
    color: black;
}

.Navegacion__Boton--2{
    background-color: #4ca866;
    border: none;
    color: white;
}
.Navegacion__Boton--2:hover{
    background-color: #9dcfab;
    color: #454545;
}